.mainBox {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: #FFF;
    padding-bottom: 10px;
    
}

.headerBox {
    height: 70px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.right{
    display: flex;
    align-items: center;
    height: 70px;
    gap: 110px;
}

img{
    width: 30px;
    height: 43.053px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 70px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    line-height: 38px; /* 158.333% */
    color: #232423;
}

.topMenu:hover {
    cursor: pointer;
}

.dropDown {
    position: relative;
    width: 132px;
}

.arrowDown{
    padding-left: 5px;
    width: 22px;
    height: 10px;
    transition: all 0.9s;
}

.dropDownBtn{
    position: absolute;
    width: 260px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    justify-content: space-between;
    transition: all 0.9s;
}

.dropDownBtn > ul {
    list-style: none;
    padding: 5px;
    font-size: 16px;
}

.dropDownBtn > ul :hover{
    padding: 5px;
    border: 0.5px solid rgb(240, 239, 239);
    border-radius: 0 0 8px 8px ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;

}

.left {
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #925DFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: #FDFDFF;
    color: #6A35F5;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    border: none;
}

.btn:hover {
    cursor: pointer;
}