.mainBox {
    height: 110px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.headerBox {
    height: 70px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right{
    display: flex;
    align-items: center;
    height: 70px;
    gap: 110px;
}

img{
    width: 30px;
    height: 43.053px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 70px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    line-height: 38px; /* 158.333% */
    color: #232423;
}

.topMenu:hover {
    cursor: pointer;
}

/*.menu {*/
/*    margin: 400px;*/
/*    position: relative;*/
/*    list-style: none;*/
/*    user-select: none;*/
/*}*/

/*.menu > li {*/
/*    color: #232423;;*/
/*    display: flex;*/
/*    width: 130px;*/
/*    height: 35px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*}*/

.arrowDown{
    width: 20px;
    height: 40px;
}

/*.menu ul {*/
/*    height: 0;*/
/*    left: 0;*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    transition: all .5s ease;*/
/*    top: 35px;*/
/*    width: 250px;*/
/*    list-style: none;*/
/*}*/

/*.menu li:hover ul {*/
/*    height: 270px;*/
/*    opacity: 1;*/
/*    transform: translateY(0);*/
/*    background-color: red;*/

/*}*/

/*.menu ul {*/
/*    color: #000;*/
/*    display: block;*/
/*    padding: 0 20px;*/
/*}*/

.dropDown {
    width: 135px;
    margin: 100px auto;
    user-select: none;
    position: relative;
}

.dropDownBtn:hover {
    cursor: default;
}

.dropDown .dropDownBtn {
    padding: 0;
    background-color: white;
    display: flex;align-items: center;
    justify-content: space-between;
    transition: all 0.9s;
}

.dropDown .dropDownContent {
    position: absolute;
    width: 250px;
    color: #232423;
}

.dropDown .dropDownContent .dropDownItem {
    cursor: pointer;
    transition: all 0.9s;
    list-style: none;
    font-size: 16px;
    border-radius: 5px;
}

.dropDown .dropDownContent .dropDownItem:hover {
    background-color: #f4f4f4;
}

.left {
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #925DFF;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn{
    background-color: #FDFDFF;
    color: #6A35F5;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    border: none;
}

.btn:hover {
    cursor: pointer;
}