.mainContainer {
    width: 100%;
    height: 2900px;
    padding-top: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containerBox{
    width: 80%;
    height: 650px;
    display: flex;
    justify-content: center;
}

.innerBox{
    height: 500px;
    width: 85%;
    display: flex;
}

.rightFirstBox{
    width: 52.5%;
    height: 550px;
    background-color: #FFFAEF;
    font-size: 50px;
}
.leftFirstBox{
    width: 50%;
    height: 550px;
    background-color: #BDBABA;
    font-size: 50px;
}

.secondContainerBox{
    width: 100%;
    height: 450px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.rightSecondBox {
    width: 33%;
    height: 420px;
    background-color: bisque;
    font-size: 50px;
}

.leftSecondBox{
    width: 35%;
    height: 420px;
    background-color: antiquewhite;
    font-size: 50px;
}

.thirdContainerBox {
    padding-top: 80px;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.rightThirdBox {
    width: 33%;
    height: 370px;
    background-color: grey;
    font-size: 50px;
}

.leftThirdBox {
    width: 35%;
    height: 370px;
    background-color: antiquewhite;
    font-size: 50px;
}

.fourthContainerBox {
    padding-top: 70px;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.innerFourthContainerBox {
    width: 68%;
    height:620px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.topFourthBox {
    width: 40%;
    height: 180px;
    background-color: bisque;
    font-size: 50px;
}

.lowerFourthBox {

    width: 85%;
    height: 400px;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}


.fifthContainerBox {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: flex-start;
}

.innerfifthContainerBox {
    width: 100%;
    height: 523px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.innerfifthContainerBox > img {
    width: 100%;
    height: inherit;
}
