.mainContainer {
    /*width: 1440px;*/
    /*height: 512px;*/
    /*border: 0 solid #120040;*/
    /*background: #120040;*/
}

.footerContainer {
    width: 1440px;
    height: 256px;
    border: 0 solid #120040;
    background: #120040;
}